.admin__header{
    width: 100%;
    padding: 20px 0px;
    background: var(--primary-color);
}

.admin__nav-top{
    width: 100%;
}

.admin__nav-wrapper-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.admin__nav-top-right img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}

.admin__nav-top-right{
    display: flex;
    align-items: center;
    margin-right: 40px;
    column-gap: 2rem;
}

.admin__nav-top-right span i{
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.admin__nav-wrapper-top .logo h3{
    text-align: center;
    width: 300px;
    cursor: default;
    color: whitesmoke;

}

.mail__admin,
.noti__admin{
    position: relative;
}

.badge__admin{
    position: absolute;
    top: 0;
    right: -35%;
    width: 15px;
    height: 15px;
    background-color: red;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
    z-index: 10;
}

.admin__menu{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--card-bg-02);
}

.admin__navigator{
    text-align: center;
}

.admin__menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.7rem;
}

.admin__menu-list .admin__menu-item a{
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}

.admin__menu-item .active{
    background: whitesmoke;
}